<!--The content below is only a placeholder and can be replaced.-->
<nz-layout class="layout">
  <nz-header>
    <ul nz-menu [nzTheme]="'dark'" [nzMode]="'horizontal'" style="line-height: 64px;">
      <li nz-menu-item>nav 1</li>
      <li nz-menu-item>nav 2</li>
      <li nz-menu-item>nav 3</li>
    </ul>
  </nz-header>
  <nz-content style="padding:0 50px;">
   <br>

    <div nz-row [nzGutter]="16">
      <div nz-col [nzMd]="8">
        <nz-card>
          <ng-template #title>影像上传</ng-template>
          <ng-template #body>
            <h4 style="padding-bottom: 3px">
              患者姓名
            </h4>
            <nz-input style="width: 20%" [nzType]="'text'" [(ngModel)]="searchPatient">
              <ng-template #prefix>
              </ng-template>
            </nz-input>
            <br>
            <br>
            <br>
              <input id="fileMultiple" accept type="file" ng2FileSelect [uploader]="uploader" (change)="selectedFileOnChanged($event)" multiple />
          </ng-template>
        </nz-card>
        <br>
        <nz-card>
          <div nz-row>
            <div nz-col [nzSpan]="24">
                <ng-template #title>文件上传队列</ng-template>
                <ng-template #body>
                  <nz-table [nzScroll]="{ y: 240 }" #nzTable [nzDataSource]="files" [nzCustomNoResult]="true" [nzIsPagination]="false">
                    <div noResult>请选择文件上传</div>
                    <thead nz-thead>
                    <tr>
                      <th nz-th><span>文件名</span></th>
                      <th nz-th><span>大小</span></th>
                      <th nz-th><span>进度</span></th>
                      <th nz-th><span>状态</span></th>
                      <th nz-th><span>操作</span></th>
                    </tr>
                    </thead>
                    <tbody nz-tbody>
                    <tr nz-tbody-tr *ngFor="let item of nzTable.data">
                      <td nz-td><strong>{{ item?.file?.name }}</strong></td>
                      <td nz-td *ngIf="uploader.options.isHTML5" nowrap>{{ item?.file?.size/1024 | number:'.2' }} KB</td>
                      <td nz-td class="text-center" *ngIf="uploader.options.isHTML5">
                        <nz-progress [ngModel]="item.progress" [nzStrokeWidth]="5"></nz-progress>
                      </td>
                      <td nz-td class="text-center">
                        <span *ngIf="item.isSuccess"><nz-tag [nzColor]="'green'">成功</nz-tag></span>
                        <span *ngIf="item.isCancel" class="mr-md"><nz-tag [nzColor]="'orange'">取消</nz-tag></span>
                        <span *ngIf="item.isError"><nz-tag [nzColor]="'red'">失败</nz-tag></span>
                        <span *ngIf="item.isReady"><nz-tag [nzColor]="'cyan'">上传</nz-tag ></span>
                      </td>
                      <td nz-td nowrap>
                        <nz-button-group>
                          <button nz-button (click)="item.upload()" [nzType]="'primary'" [disabled]="item.isReady || item.isUploading || item.isSuccess">
                            <i class="anticon anticon-upload"></i>
                          </button>
                          <button nz-button (click)="item.cancel()" [disabled]="!item.isUploading">
                            <i class="anticon anticon-close"></i>
                          </button>
                          <button nz-button (click)="item.remove()">
                            <i class="anticon anticon-delete"></i>
                          </button>
                        </nz-button-group>
                      </td>
                    </tr>
                    </tbody>
                  </nz-table>
                </ng-template>
            </div>
          </div>
        </nz-card>
        <div nz-row>
          <div nz-col [nzSpan]="24">
            <nz-card>
              <ng-template #body>
                <nz-progress [ngModel]="uploader.progress" [nzStrokeWidth]="5"></nz-progress>
                <nz-button-group class="mt-md d-block">
                  <button nz-button (click)="uploader.uploadAll();test()" [nzType]="'primary'" [nzLoading]="uploader.isUploading" [disabled]="!uploader.getNotUploadedItems().length || searchPatient === ''">
                    <i class="anticon anticon-upload"></i><span>上传全部</span>
                  </button>
                  <button nz-button (click)="uploader.cancelAll()" [disabled]="!uploader.isUploading">
                    <i class="anticon anticon-close"></i><span>取消全部</span>
                  </button>
                  <button nz-button (click)="uploader.clearQueue()" [disabled]="!uploader.queue.length">
                    <i class="anticon anticon-delete"></i><span>删除全部</span>
                  </button>
                </nz-button-group>
              </ng-template>
            </nz-card>

          </div>
        </div>
      </div>
      <div nz-col [nzMd]="16">
        <div nz-row>
          <div nz-col [nzSpan]="24">
            <nz-card>
              <ng-template #title>文件上传队列</ng-template>
              <ng-template #body>
                <!--<nz-table #nzTable [nzDataSource]="files" [nzCustomNoResult]="true" [nzIsPagination]="false">
                  <div noResult>请选择文件上传</div>
                  <thead nz-thead>
                  <tr>
                    <th nz-th><span>文件名</span></th>
                    <th nz-th><span>大小</span></th>
                    <th nz-th><span>进度</span></th>
                    <th nz-th><span>状态</span></th>
                    <th nz-th><span>操作</span></th>
                  </tr>
                  </thead>
                  <tbody nz-tbody>
                  <tr nz-tbody-tr *ngFor="let item of nzTable.data">
                    <td nz-td><strong>{{ item?.file?.name }}</strong></td>
                    <td nz-td *ngIf="uploader.options.isHTML5" nowrap>{{ item?.file?.size/1024 | number:'.2' }} KB</td>
                    <td nz-td class="text-center" *ngIf="uploader.options.isHTML5">
                      <nz-progress [ngModel]="item.progress" [nzStrokeWidth]="5"></nz-progress>
                    </td>
                    <td nz-td class="text-center">
                      <span *ngIf="item.isSuccess"><nz-tag [nzColor]="'green'">成功</nz-tag></span>
                      <span *ngIf="item.isCancel" class="mr-md"><nz-tag [nzColor]="'orange'">取消</nz-tag></span>
                      <span *ngIf="item.isError"><nz-tag [nzColor]="'red'">失败</nz-tag></span>
                    </td>
                    <td nz-td nowrap>
                      <nz-button-group>
                        <button nz-button (click)="item.upload()" [nzType]="'primary'" [disabled]="item.isReady || item.isUploading || item.isSuccess">
                          <i class="anticon anticon-upload"></i>
                        </button>
                        <button nz-button (click)="item.cancel()" [disabled]="!item.isUploading">
                          <i class="anticon anticon-close"></i>
                        </button>
                        <button nz-button (click)="item.remove()">
                          <i class="anticon anticon-delete"></i>
                        </button>
                      </nz-button-group>
                    </td>
                  </tr>
                  </tbody>
                </nz-table>-->
                <div nz-row>
                  <div nz-col [nzOffset]="8">
                    <nz-spin [nzSize]="'large'" [nzTip]="'诊断中，请稍等'" *ngIf="loading"></nz-spin>
                  </div>
                  <div nz-row *ngIf="slicelist.length === 0 && loading === false">
                    <div nz-col [nzSpan]="8" [nzOffset]="8">
                      暂无诊断
                    </div>
                  </div>
                  <div *ngIf="slicelist.length !== 0 && loading === false">
                    <div nz-row>
                      <div nz-col [nzSpan]="8" [nzOffset]="8">
                        <h3>
                          诊断结果为: {{results}}
                        </h3>
                      </div>
                    </div>
                    <div nz-row>
                      <div nz-col [nzSpan]="8">
                        <label>选择切片</label>
                        <nz-select style="width: 120px;" [nzPlaceHolder]="'choose option'" nzAllowClear [(ngModel)]="searchSlice" (ngModelChange)="getPng($event)">
                          <nz-option
                            *ngFor="let option of slicelist"
                            [nzLabel]="option"
                            [nzValue]="option"
                          >
                          </nz-option>
                        </nz-select>
                      </div>
                    </div>
                    <div nz-row>
                      <div nz-col [nzSpan]="16" [nzOffset]="4">
                        <img [src]="imageData">
                      </div>
                    </div>
                  </div>

                </div>
              </ng-template>
            </nz-card>
          </div>
        </div>
      </div>

    </div>


  </nz-content>
  <nz-footer style="text-align: center;">Ant Design ©2017 Implement By Angular</nz-footer>
</nz-layout>

